@{html-selector} {

    --ant-primary-color: #27ae60;

    // --primary-color: #27AE60;
    // --light-color: #F4F4F6;
    // --gray-color: #A7A2BD;
    // --txt-color: #26233F;

    // --success-color: #17B158;
    // --warning-color: #E2B93B;
    // --error-color: #EB5757;

    --border-radius-sm: 4px
    --border-radius-base: 10px;
}

// @primary-color: var(--primary-color);
// @light-color: var(--light-color);

// @txt-color: var(--txt-color);

// @success-color: var(--success-color);
// @warning-color: var(--warning-color);
// @error-color: var(--error-color);

@border-radius-sm: var(--border-radius-sm);
@border-radius-base: var(--border-radius-base);

// Not default vars